html, body, header, nav, h1, a, li, h3,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  padding: 0;
  outline: 0;
  border: 0;
  margin: 0;
  z-index: 0;

  font: inherit;
  color: inherit;
  text-decoration: inherit;
  text-align: inherit;
  vertical-align: inherit;
  background: transparent;
}
/* --- ELEMENTS --- */

canvas {
  display: block;
  margin: auto;
  border: 5px solid black;
}


body {
  font-family: "Bangers";
  font-size: 14px;
  background-size: cover;
  background-position: left -10px bottom -50px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
}

ul {
  list-style: decimal;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.green {
  font-size: 20px;
  font-weight: bold;
  color: green;
}

.red {
  color: red;
}
