html, body, header, nav, h1, a, li, h3,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  padding: 0;
  outline: 0;
  border: 0;
  margin: 0;
  z-index: 0;

  font: inherit;
  color: inherit;
  text-decoration: inherit;
  text-align: inherit;
  vertical-align: inherit;
  background: transparent;
}
/* --- ELEMENTS --- */

body {
  font-size: 14px;
  background-size: cover;
  background-position: left -10px bottom -50px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2980b9 , #2c3e50); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2980b9 , #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFFFFF;
}

ul {
  list-style: decimal;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  font-size: 40px;
  text-align: center;
}

h3 {
  margin: 5px 0;
  font-size: 32px;
  text-align: center;
}

input {
  color: #000000;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

input:focus {
  box-shadow: 0 0 10px rgba(81, 203, 238, 1);
}

.submit-box {
  margin: 0 auto;
  padding: 10px 20px;
  width: 375px;
}
.submit-field {
  padding: 10px 10px;
  border-radius: 5px;
  background: #fff;
  width: 250px;
}

.green {
  font-weight: bold;
  color: #29ce2c;
}

.red {
  color: #d02121;
}

.add {
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
  color: #a7a7a7;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  width: 100px;
  height: 44px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 3px 8px #000, inset 0px 2px 3px #fff;
  color: black;
}

.add:hover {
  background: rgba(81, 203, 238, 1);
  color: white;
  cursor: pointer;
  box-shadow: 0px 3px 8px #000, inset 0px 2px 3px #3da2bf;
}

.container {
  margin: 0 auto;
}

.button-box {
  margin: 0 auto 20px auto;
  width: 425px;
  border: 2px dashed black;
  border-radius: 5px;
  padding: 10px 20px;
  background: #FFFFFF;
}

.button-box > button {
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
  color: #a7a7a7;
  margin-right: 5px;
  width: 136px;
  height: 44px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  color: black;
}

.button-box > button:last-child {
  padding: 10px 20px;
  border-radius: 20px;
  background: red;
  margin-right: 0;
}

.button-box> button:hover {
  background: black;
  color: white;
  cursor: pointer;
}

.state-list {
  width: 500px;
  border: 3px solid black;
  border-radius: 5px;
  padding: 10px 25px;
  margin: 20px auto;
  background-color: #FFFFFF;
  color: #000000;
}

.state-list > li {
  font-size: 20px;
  margin: 5px;
}

.instructions {
  width: 450px;
  margin: 0 auto;
}

.instructions > h4 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  text-decoration: underline;
}
.instructions > p {
  font-size: 16px;
  line-height: 19px;
}

.error {
  text-align: center;
  color: red;
}

.hidden {
  display: none;
}
